<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar }"></div>

<div class="detail">
    <h4>상세페이지</h4>
    <img th:src="${data.imageurl}">
    <h4 th:text="${data.title}">상품</h4>
    <p th:text="${data.price + '원'}">가격</p>
</div>

<form action="/comment" method="post">
    <input name="content">
    <input name="parent" th:value="${data.id}" style="display : none">
    <button type="submit">전송</button>
</form>

<div class="comment" th:each="i : ${comments}">
    <div>
        <p th:text="${i.content}">댓글</p>
    </div>
</div>
</body>
</html>